* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

p {
    font-size: 1rem;
}

body {
    color: black
}

.navigation a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 16pt;
    display: inline-block;
    line-height: 39px;
}

.logotipo {
    width: 195px;
    height: 90px;
}

#tituloId {
    color: green;
}

.titulo {
    color: red;
}

h1 {
    color: purple !important;
    font-size: 50px;
}

a {
    color: black;
    text-decoration: none;
}

a[target="_blank"] {
    color: blue;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

a[target="_blank"]::after {
    content: " (abre em nova aba)";
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
}

.form-nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    gap: 24px;
}

.articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 345px;
    height: 350px;
    border-top: 1px solid #ddd;
    padding-top: 25px;
    padding-bottom: 15px;

}
.img-artigo {
    width: 100%;
    height: 180px;
    border-radius: 4px;
    object-fit: cover;
}

.article-title {
    padding-top: 8px;
    font-size: 18px;
    text-align: left;
    color: black;
}

.article-date {
    color: #999;
    font-size: 11pt;
    padding-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}

.footer {
    background-color: black;
    color: white;
}

.footer-locations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
    gap: 24px;
}

.location {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
    min-width: 180px;
}
.location-name {
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

.location-address {
    font-size: 12px;
    text-align: center;
}

.pin {
    height: 20px;
    padding-bottom: 5px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    padding: 35px 70px 35px 70px;
    justify-content: space-between;
}

.img-logo {
    width: 172px;
    height: 70px;
}

.img-programas {
    width: 343px;
    height: 100px;
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    padding: 35px 70px;
    width: 100%;         
    box-sizing: border-box;
    justify-content: space-between;  
}

.social-media-container {
    display: flex;
    flex-direction: column;
    width: 100%;         
    box-sizing: border-box; 
}

.social-media-container-2 p{
    font-size: 14px;
    font-weight: bold;
}

.footer-social-media-links {
    width: 158px;
    height: 50px;
}

.footer-text {
    padding-top: 10px;
    width: 228px;
}

.footer-text p {
    font-size: 10px;
    letter-spacing: 0.3px;    
}


